<mat-toolbar class="bgHeader">
    <ul>
        <a *ngIf="auth.loggedIn()" mat-button routerLink="#">Home</a>
        <a *ngIf="auth.loggedIn()" mat-button routerLink="registerProduct">Register Product</a>
        <a *ngIf="auth.loggedIn()" mat-button routerLink="listProduct">Products</a>
    </ul>
    <span class="headerSpacer"></span>
    <ul>
        <a *ngIf="!auth.loggedIn()" mat-button routerLink="register">Sing in</a>
        <a *ngIf="!auth.loggedIn()" mat-button routerLink="login">Login</a>
        <a *ngIf="auth.loggedIn()" mat-button (click)="auth.logout()">LogOut</a>
    </ul>
</mat-toolbar>
