<div class="form">
    <mat-card class="card">
        <mat-card-title>Registrar producto</mat-card-title>
        <div class="col-12 col-lg-12" *ngIf="errorMessage">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-message">
                    {{ errorMessage }}
                </div>
                <button type="button" class="close" (click)="close()" data-dismissible ="alert" arial-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
        </div>
        <hr>
        <mat-card-content>
            <div class="container">
                <mat-form-field>
                    <input [(ngModel)]="productData.name" matInput type="text" placeholder="Name" required>
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="productData.description" matInput type="text" placeholder="description" required>
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="productData.category" matInput type="text" placeholder="category" required>
                </mat-form-field>
                <mat-form-field>
                    <input [(ngModel)]="productData.value" matInput type="number" placeholder="value" required>
                </mat-form-field>
            </div>
        </mat-card-content><hr>
        <mat-card-actions>
            <div class="container">
                <button (click)="saveProduct()" class="button bg-btn" mat-raised-button >Add product</button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>