.container{
    display: flex;
    flex-direction: column;
}
.card{
    min-width:200PX;
    max-width: 550px;
    width: 100%;
    margin: auto;
    font-size: medium;
    color: #707070;
    padding: 25px;
}
.button{
    width: 100%;
}


.form{
    padding: 30px;
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
    
}
mat-card-title{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}




